.N-m{
    background-color: #f6f6f9;
    background-size: 100%;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
align-items: center;
 }


 .N-g{
    position: relative;
    height: 93vh;
    width: 95vw;
    border-radius: 2rem;
    background-color: var(--glass);
    backdrop-filter: blur(7px);
    overflow: hidden;
   }

   .N-logo{
    height: 70px;
    margin: 5px;
}


.N-h{
    display: flex;
    width: 100%;
    height: 150px;
    align-items: center;
    justify-content: center;
    
}


.N-content{
    display: flex;
    width: 100%;
    
}

.N-content h1{
    font-weight: bold;
    
}

.N-p{
    position: absolute;
    top: 250px;
    width: 400px;
}

.N-content .sl-btn{
    position: absolute;
    bottom: 150px;
    width: 300px;
    height: 100px;
   
}

.sl-btn .N-signup{
 position: absolute;
 left: 30px;
 background-color: #128A16;
 border: none;
}


.sl-btn .N-login{
    position: absolute;
    left: 170px;
    background-color: #151E73;
    border: none;
}