.ver{
    background-color: #f6f6f9;
    background-size: 100%;
    height: 100vh;
    width: 100vw;
    display: flex;
    font-family: 'Poppins', sans-serif;
    justify-content: center;
align-items: center;
  }


.AppGlass{
    position: relative;
    height: 93vh;
    width: 95vw;
    border-radius: 2rem;
    background-color: var(--glass);
    margin-top: 15px;
    margin-bottom: 20px;
    margin-left: 5px;
    backdrop-filter: blur(7px);
    
  }

.AusCusLink{
  position: absolute;
  top: 20px;
  right: 20px;
}

.AusCusLink a{
  text-decoration: none;
  padding-left: 20px;
  color: var(--blue)
}

  .container{
    margin-top: 50px;
  }

.container h1{
  margin-top: 20px;
  font-weight:bold;
}
  


  .container .Vlogo{
    max-height: 70px;
    margin: 5px;
   
    }

    .pic_div{
      display: flex;
      position: relative;
    }

.Secure{
 /* look for a display or position to make the picture constant irrespective the items on the page*/
 position: absolute;
 left: 80px;
 top: 0px;
  height: 30vh;      
}    

@media(max-width: 1200px) {
  /* .Secure{
    position: relative;
    
    left: 50px;
    height : 150px;
  } */
}

.form{
display: grid;
grid-template-columns: 400px 300px;
}

#btn{
  border-radius: 100px;
  width: 50px;
  height: 50px;
  padding-top: 10px;
}


#password{
  width:300px;
}

.mb-3 input:focus::placeholder {
  color: transparent;
}

.mb-3 input {
  text-align: center;
}

::-webkit-input-placeholder {
  text-align: center;
}

:-moz-placeholder {
  text-align: center;
}