
*{
    margin: 0;
    padding: 0;
}


.err{
    text-align: center;
    color: red;
    font-size: 1rem;
}

.dss-contents{
   display: flex; 
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.hij{
  
    margin-top: 1rem;
    flex: 0.33;
    background: rgb(69, 69, 248);
    height: 50px;
    border-radius: 2rem 2rem 1rem ;
    margin-left: 50px;
    padding-bottom: 65rem;
}

/* .left-sides{
  margin-top: 1rem;
    flex: 0.33;
    background: white;
    height: 50px;
    border-top-right-radius: 1rem ;
    border-bottom-right-radius: 1rem ;
    margin-left: 15px;
    padding-bottom: 20rem;
   
} */

.right-s{
    flex: 0.67;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 50px;
}

.diagimg{
height: 300px;
position: absolute;
top: 200px;
right: 45%;
}

.header{
    height: 15rem;
    margin-top: 2rem;
    margin-left: 6.5rem;
   
}

.top-rights{
    float: right;
    margin-right: 1rem;
    font-size: 0.8rem;
    font-weight: 800;
    

} 



#logo-png{
    height: 100%;
    object-fit: cover;
}

.shoulders{
    height: 20rem;
    margin-top: 2rem;
    background: white;
}

#reg-gng{
    
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/*p{
    color: black;
    padding: 1.8rem 0.8rem;
    text-align: left;
    font-size: smaller ;
    
}
*/

.p1{
    color: white;

    
}

.p21{
    padding-top: 2rem;
    padding-left: 5px;
    padding-right: 5px;
}

.p22{
    padding-top: 2rem;
}



#Links-signin{
    text-decoration: none;
    font-style: 600;
    margin-left: .3rem;
    cursor: pointer;
    color: gray ;
}

#Links-signin:hover{
    color: aqua;
}

.body-rights{
    height: 100%;
    width: 100%;
    margin-right: 55px;

}

.containerser{
    height: 90%;
    width: 60%;
    margin: -2.3rem auto;
    box-shadow: 0rem 0rem 2rem 0.1rem #48ea98;
    border-radius: 0.5rem;
  
   padding-bottom: 65rem;
  
   
}

.cry{
    padding-top: 10px;
    text-align: center;
    font-weight: 800;
    color: white;
}

.inner-group{
    margin-left: 6rem;
    width: 110%;
    position: relative;
}

.hac{
    font-size: small;
    font-weight: 300;
    color: gray;
    left: 20%;
    top: 0rem;
    position: absolute;
    margin: 0.5rem auto;
    background: white;
}

#sbtn{
    width: 66%;
    background: #26343D;
    color: white;
    cursor: pointer;
    border: none;
    padding: 0.5rem 2.5rem;
    transition:all 0.3s ease-in-out;
    margin-left: 6rem;
}

#sbtn:hover{
    box-shadow: 0.5rem 0.5rem 1rem gray;;
}

.inner-group input{
   
    box-shadow: 0.1rem 0.1rem 0.3rem 0.1rem gray;
}

.tinputs{
    margin: 1.2rem auto;
    width: 60%;
    height: 15rem;
    padding: 0.5rem 0.5rem;
}



.inputs:focus{
    outline: none;
}

.ds-content h1{
    font-weight: bold;
    cursor: pointer;
    color: #26343D;
}

.ds-content .d-submit{
    background-color: #151E73;
    border: none;
    padding-left:6px;
}     

.op{
    color: white;
    padding-top: 2px ;
}

.opp{
    padding-top: 5px;
}