.Ab-m{
    background-color: #f6f6f9;
    background-size: 100%;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
 }


 .Ab-g{
    position: relative;
    width: 95vw;
    border-radius: 2rem;
    background-color: var(--glass);
    backdrop-filter: blur(7px);
    overflow: hidden;
    

 }

 .abtus, .leg, .farf {
             text-align: center;
 }

 .abtus{
    font-weight: 1000;
 }

 .leg, .farf{
    font-size: larger;
 }

 .farf{
    font-weight: Bold;
 }


 .cnt{
    padding-left: 20px;
    padding-right: 20px;
 }

 #back-btn{
   position: absolute;
   top: 0px;
   left: 0px;
   height:40px;
   color: grey;
   background-color: whitesmoke;
   border: none;
 }

 .back-image1{
   position: absolute;
   left: 50px;
   height: 100%;
 }

 
 .back-image2{
   position: absolute;
   top:-100px;
   right: -50px;
   height: 100%;
   rotate: -40deg;
 }
   