.C-m{
    background-color: #f6f6f9;
    background-size: 100%;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
align-items: center;
 }


 .C-g{
    position: relative;
    height: 93vh;
    width: 95vw;
    border-radius: 2rem;
    background-color: var(--glass);
    backdrop-filter: blur(7px);
    overflow: hidden;

   }

   .C-h{
    display: flex;
    width: 100%;
    height: 150px;
    align-items: center;
    justify-content: center;
    
}

   .chester{
    display: grid;
    grid-template-columns: 500px auto;
    padding: 50px;

   }

   div .boxy{
    font-weight: bold;
   }

   
 .cback-image{
    position: absolute;
    top:150px;
left:80px;
    height: 100%;
  }
 

  .hospital{
    display: relative;
    margin-left: 20px;
  }
  .hospital-image{
    position: absolute;
 right: 100px;
    top: 120px;
    width: 80vh;
    height: 80vh;
  }