
/* .App {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
} */

.V-f-g{
  display: flex;
     height: 93vh;
     width: 95vw;
     border-radius: 2rem;
     background-color: var(--glass);
     backdrop-filter: blur(7px);
     overflow: hidden;
     justify-content: center;
     align-items: center;
 }

.register{
  max-width: 600px;
  height: 600px;
  /* width: 80vw; */
  display:flex;
  border: 1px solid #f0f4f4;
  border-radius: 20px;
  /* box-shadow: 1px 3px 10px #e9ecef; */
  background-color: rgb(241, 241, 241);
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.register span{
  color: #adb5bd;
}

#form{
  max-width: 320px;
  width: 100vw;
  margin: 8em;
}

#form >  input, .vbtn{
  border: 1px solid #e9ecef;
  padding: .9em 1em;
}

#form > input:focus{
  outline: none;
}

#form > .vbtn{
  background-color: #155a23;
  color: #e9ecef;
  font-size: 1em;
  cursor: pointer;
}

.flex{
  display: flex;
  gap: 0em;
}

.flex-col{
  flex-direction: column;
}

.col-1{
  /* margin: auto; */
  padding: 0.5em 0;

}

.register .col-2 img{
  width: 350px;
  height: 100%;
  object-fit:scale-down;
  align-self: flex-end;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  display: none;
}

@media screen and (min-width: 860px)  {
  .register .col-2 img{
    display: initial;
  }
}
.label{
  display:flex;
  align-items: left;
  font-size: 1em;
  column-gap:0ch;
}
.topic{
  font-size: 1.5em;
  height: 45px;
 
}
.tags{
  display: flex;
  align-items: center;
  color: red;
  font-size: 0.8em;
}
.bp{
  display:flex;
  padding: 0.5em 0;
  position: relative;
  right: 60px;
}
.eachbp{
  max-width: 525px;
  height: 40px;
  margin: 0em 0.5rem;
  

}



