.table5{
    font-family: 'poppins';
    border-collapse: collapse;
    width: 75%; 
    border: 1px solid blue;
    margin: 25px 0;
    border-radius: 8px 8px 0 0;
    font-size: 0.9em; 
    overflow:scroll; 
    max-height: 400px;
    box-shadow: 0 0 20px rgba(0, 0 ,0.15);
}

.ListOfSpec{
    max-height: 500px;
    overflow-x: hidden;
}
 

.table5 tr:hover td{
    color: #4478b8;
    cursor: pointer;
    background-color: #ffffff;

}

 
.table5 td button{
    border: none;
    padding: 7px 10px;
    border-radius: 15px;
    background-color: blue;
    color: white;
}

.table5 td {
 border: 1px solid #dddddd;
  text-align: center;
  padding: 5px 5px 5px ;
  border: 1px solid #dddddd;
  font-size:14px;
  
  

}

.table5 th{
    background-color: #3977eb;
    border: 1px solid #dddddd;
    text-align: center;
    padding: 1px 5px 10px 5px;
    color: black;
    font-weight:2px;
    font-size:20px;

}

 .table5 tr :nth-of-type(even){
      background-color: #f3f3f3;
} 

 .N5-content h1{
    margin-left: 230px;
}
 