
.ListOfAllEmp{
    
    max-height: 300px;
   overflow-y: scroll; 
   


}
.table6{
   font-family: 'poppins';
   border-collapse: collapse;
   min-width: max-content;
    width: 75%;  
   
   border: 1px solid rgb(126, 126, 173);
   margin: 25px 0;
   border-radius: 8px 8px 0 0;
   font-size: 0.9em; 
   /* max-height: 30px;
   overflow-y: scroll; */
   box-shadow: 0 0 20px rgba(0, 0 ,0.15);
}



.table6 tr:hover td{
   color: #4478b8;
   cursor: pointer;
   background-color: #5e98b3;

}


.table6 td button{
   border: none;
   padding: 7px 10px;
   border-radius: 15px;
   background-color: rgb(149, 149, 158);
   color: rgb(88, 177, 121);
}

.table6 td {
border: 1px solid #dddddd;
 text-align: center;
 padding: 5px 5px 5px ;
 border: 1px solid #dddddd;
 font-size:14px;
 
 

}

.table6 th{
   background-color: #edeef2;
   border: 1px solid #dddddd;
   text-align: center;
   padding: 1px 5px 5px 10px;
   color: rgb(15, 14, 14);
   font-weight:2px;
   font-size:20px;
  
 

}



.table6 tr :nth-of-type(even){
     background-color: #f3f3f3;
} 

.N6-content h1{
   margin-left: 230px;

}

@media screen and (max-width: 1200px) {
   .Table {
     width: 170%;
     margin-top: 2rem;
   }
 }
 
 
 @media screen and (max-width: 768px) {
   .Table{
     position: relative;
     display: flex;
     flex-direction: column;
     align-items: center;
     width: 18rem;
   }
 }
