.Ab-m{
    background-color: #f6f6f9;
    background-size: 100%;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
 }


 .Ab-g{
    position: relative;
    height: 93vh;
    width: 95vw;
    border-radius: 2rem;
    background-color: var(--glass);
    backdrop-filter: blur(7px);
    overflow: hidden;
    

 }

 .abtus, .leg, .farf {
             text-align: center;
 }

 .abtus{
    font-weight: 1000;
    padding-bottom: 15px;
 }

 .leg, .farf{
    font-size: larger;
 }

 .farf{
    font-weight: Bold;
 }


 .cnt{
    padding-left: 20px;
 }

 

   