/*  .Nl-content{
   display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.Nl-content h1{
    font-weight: bold;
    
}


.Nl-content .N-login{
    background-color: #151E73;
    border: none;
    padding-left:6px;

}

*/

.ListOfRegP{
    flex-direction: column;
   

}


.N1-content{
  min-height: 10vh;
  min-width: 10vh;
  overflow-x: hidden;
  background: linear-gradient(to right, rgb(223, 221, 221), 50% #273294 50%);

}

.login-coverpage{
    height: 75vh;
    width: 70%;
    border-radius: 1rem;
    margin: 2rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0.5rem 0.5rem 2rem -1rem rgba(58, 57, 57);
    background: linear-gradient(to right, rgba(255, 255, 255,0.7) 50%, #273294 50%);
}

.link{
        text-decoration: none;
        color: #128A16;
}

.linkss{
    text-decoration: none;
    color: white;
}



.left-side, .right-side{
    margin: 2rem 2rem;
    box-shadow: 0.5rem 0.5rem 2rem -1rem rgba(58, 57, 57);
    height: 80%;
    width: 100%;
}

.img-class{
    height: 4rem;
}

#img-id{
    height: 100%;
    object-fit: cover;
}

.left-side{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ll{
    margin-bottom: 10px;
}

.dd{
    font-size: 1.1rem;
}

.ii{
    display: block;
    border: none;
    height: 2.5rem;
    width: 70%;
    margin: auto;
    margin-bottom: 1.5rem;
    padding: 0.2rem 1rem;
    font-size: small;
    color: gray;
    transition: all 0.1s ease-in-out;
}

ii:focus{
    outline: none;
    border: none;
}

.ii:hover{
    box-shadow: 4px 3px 9px -1px #128A16;
}

.left-side label{
    display: block;
    margin: auto;
    text-align: left;
    width: 70%;
    font-size: large;
    color: gray;
    margin-bottom: 0.5rem;
}

#sub_butt{
    width: 80%;
    background: #128A16;
    color: white;
    border: none;
    cursor: pointer;
    padding: 0.5rem 1 rem;
    transition: all 0.2s ease;

}

sub_butt:hover{
    box-shadow: 0.3 rem 0.3rem 6px -1px black;
    transform: translateY(-5px);

}
.dl-contents h1{
    font-weight: bold;
}
.dl-contents .d-login{
    background-color: #151E73;
    border: none;
    padding-left: 6px;

}
.wwelcomeImgP{
height: 100%;
width: 95%;
margin: 0rem auto;
}
.nlogin-img{
    width: 80%;
    object-fit: cover;
    margin-top: 0px;
    border-radius: 50px;

}
.hh{
margin-left: 0.5rem;
color: white;
float: left;
font-weight: bolder;
padding-left: 5rem;
}

